@import url('./heroBanner/index.pcss');
@import url('./heroBorder/index.pcss');

.hero {
  overflow: hidden;

  &__banner {
  }

  &__border {
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    align-self: start;
    padding: 0;
    max-width: calc(var(--screen-size) + 2rem);
    width: 100%;
    height: auto;
  }
}
