.slider__hr
.slider__space
  h1.slider__title 
    span Мы ценим Ваше время и комфорт!
    span Запишитесь на сервис Nissan онлайн

.slider__view(data-js-state='mobile')
  include ./mobile

.slider__view(data-js-state='desktop')
  include ./desktop
