.slider {
  display: grid;
  gap: 1rem;

  &__title {
    display: grid;
    grid-auto-flow: row;
    font-size: 48px;
    font-family: var(--font-300);
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: calc(1rem + 2.7vw);
    }
  }
  &__hr {
    width: 77.83px;
    height: 4px;
    left: 0;
    top: 0;
    background-color: #c10933;
  }

  &__box {
    display: grid;
    grid-auto-flow: column;
  }
  &__item {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid: 100px / 1fr;
    align-items: baseline;
    height: 100%;

    &[data-js-state='active'] {
      transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      margin: 0.5rem;
      padding: 1rem;
      border: 0 solid;
      border-radius: 7px 7px 7px 7px;
      &:hover {
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
      }
    }
  }
  &__img {
    display: grid;
    justify-content: center;
    justify-self: center;
  }
  &__space {
    display: grid;
    gap: 2rem;
  }
}
.slider__description {
  display: grid;
  justify-content: center;
  text-align: center;
  white-space: break-spaces;
  gap: 1rem;

  &-title {
    font-family: var(--font-700);
    font-size: 20px;
    text-transform: uppercase;
  }
  &-text {
    font-family: var(--font-400);
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.glide__fix {
  &-width {
    grid-gap: 1.4375rem;
    align-items: start;
    display: grid;
    width: 100%;
    height: auto;
    user-select: none;
  }
  &-column {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-content: space-between;
  }
  &-hover {
    padding: 0 0 1rem 0;
  }
}

.slider__view {
  display: none;

  &[data-js-state='desktop'] {
    @media (min-width: 1247px) {
      display: grid;
      margin-top: 1rem;
    }
  }
  &[data-js-state='mobile'] {
    @media (max-width: 1247px) {
      display: grid;
    }
  }
}
