- var obj = { выгода: "Узнайте о выгодных сервисных предложениях Nissan именно для вашего автомобиля", актуальность: "Выберите актуальные для вас сервисные предложения", "широкий выбор": "Выберите дилера, который вам подходит", "онлайн обслуживание": "Отправьте дилеру данные о вашем автомобиле в форме удобной анкеты" };
- var x = 0;

mixin mixSlider(title = '__TEXT__', text = '__TEXT__', url = 0)
  .glide__item
    .slider__item(data-js-state='active')
      img.slider__img(src=require("~modules/slider/benefit-icons-" + url + ".svg"), alt='Picture')
      .slider__description 
        .slider__description-title= title
        .slider__description-text= text

.glide.glide__fix-width(data-js='sliderRun')
  .glide__track(data-glide-el='track')
    .glide__slides.glide__fix-hover
      each val, key in obj 
        +mixSlider(key, val, x++)
