@each $f, $x in (Light, Regular, Bold), (300, 400, 700) {
  @font-face {
    font-display: swap;
    font-weight: $(x);
    font-family: 'Nissan Brand $(f)';
    src: url('./NissanBrand-$(f).woff2') format('woff2'), url('./NissanBrand-$(f).woff') format('woff');
  }
}
