- var figaro = require("~modules/hero/heroBanner/figaro.svg");
- var car = require("~modules/hero/heroBanner/car.png");
- var arrow = require("~modules/hero/heroBanner/arrow.svg");

.hero-banner__background
  .hero-banner__position
    .hero-banner__layout.hero-banner__center
      .hero-banner__picture.hero-banner__picture--back
        img.hero-banner__picture--front(src=figaro, alt='', srcset='')

    .hero-banner__layout
      .hero-banner__picture.hero-banner__car

    .hero-banner__layout.hero-banner__bottom
      .hero-banner__item 
        button.hero-banner__btn
          span.hero-banner__btn-text Тест-драйв
          span.hero-banner__btn-arrow 
            img(src=arrow, alt='', srcset='')
