.hero-banner {
  &__background {
    height: 464px;
    background-color: var(--color-background, var(---));
  }
  &__picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;

    &--front {
      width: 72%;
      position: absolute;
      /* top: 50%; */
      right: 0;
      left: auto;
      /* transform: translate(-14.5%, -53%); */
      transform: translate(-14.5%, 0);
    }
    &--back {
      background-blend-mode: multiply;
      background-image: url('heroBanner/background.png');
    }
  }

  &__position {
    max-width: 1440px;
    max-height: 484px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &__center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 216px;
  }
  &__bottom {
    position: absolute;
    bottom: 64px;
    width: 100%;
  }

  &__item {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: var(--screen-size, var(---));
  }
  &__car {
    position: absolute;
    width: 680.72px;
    height: 22.4025rem;
    left: calc(50% - 680.72px / 2 + 195.76px);
    top: 182.33px;
    background-image: url('heroBanner/car.png');
  }
}

.hero-banner__btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
  border: 0;
  background-color: #fff;
  padding: 12.5px 20px;
  width: 282px;

  &-text {
    font-size: 1rem;
    font-family: var(--font-400);
  }
  &-arrow {
    /* font-size: 1rem; */
    font-family: var(--font-400);
  }

  transition-property: color, background-color, filter;
  transition-duration: 0.15s;
  transition-timing-function: var(--trs-cubic);

  &:hover {
    color: #fff;
    background-color: var(--color-nissan, var(---));
    & img {
      filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(105%) contrast(104%);
    }
  }
  &:active {
    transform: translate(0, 3px);
  }
}

#myImageIMG path {
  fill: red;
}
/* filter: invert(50%)sepia(100%)saturate(10000%) */
svg#svg__arrow {
  fill: red;
}
