mixin mixCard(text, url = 0)
  .card__item 
    img.card__img(src=require("~modules/card/Rectangle-" + url + ".png"), alt='Picture')
    p.card__text= text

h2.card__title Уникальные особенности модели
.card__box
  +mixCard('Идеально скомпонованная торпеда, удобна в использовании как для правшей так и для левшей') 
  +mixCard('Белоснежные кресла и аксессуары салона выгодно подчеркнут ваш свежий средиземноморский загар', 1)
  +mixCard('Хардтоп отличительно элегантной конструкции, автоматически складывается электроприводом', 2)
