.card {
  display: grid;
  gap: 2rem;

  &__box {
    grid-gap: 23px;
    display: grid;
    grid: auto/ repeat(auto-fit, 384px);
    align-items: start;

    @media (max-width: 430px) {
      grid: auto / auto;
    }
  }
  &__item {
    display: grid;
    grid: 200px 78px / 1fr;
    grid-gap: 1rem;
    overflow: hidden;

    @media (max-width: 430px) {
      grid: auto / auto;
    }
  }
  &__title {
    font-size: 36px;
    font-family: var(--font-300);
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: calc(1rem + 1.69vw);
    }
  }
  &__img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
  &__text {
    font-size: 1rem;
    font-family: var(--font-300);
  }
}
