.hero-border {
  &__box {
    display: grid;
    padding: 19px 0;
    margin-bottom: calc(54px - 19px);
  }

  &__item {
    display: grid;
    align-content: center;
    justify-content: end;
  }
  &__img {
    margin-right: 20px;
  }
}
