body {
  display: grid;
  grid-auto-flow: row;
  justify-content: stretch;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  grid-auto-rows: auto auto 1fr 3vh;
  align-self: start;
  padding: 0;
  gap: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-auto-flow: row;
  justify-content: stretch;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  align-self: start;
  padding: 0;
  gap: 94px;
  max-width: calc(var(--screen-size) + 2rem);
  width: 100%;

  @media (max-width: 1244px) {
    gap: 3rem;
  }
}

p {
  color: var(--color-black, var(---));
}

.footer {
  margin-top: 5vh;
}

.TEST {
  background-image: url('../modules/card/Rectangle-0.png');
  width: 100px;
  height: 100px;
  background-color: #333;
}

.BOX {
  width: 100%;
  height: 5rem;
  background-color: #ff00ff;
}
.PIC_BOX_1 {
  background-color: crimson;
  width: 100%;
  height: 100%;
}

.PIC_BOX_2 {
  background-color: coral;
  width: 100%;
  height: 100%;
}
