:root {
  ---: '__UNDEFINED__';
  --trs-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --font-name-main: 'Nissan Brand Regular', sans-serif;
  --font-400: 'Nissan Brand Regular', sans-serif;
  --font-300: 'Nissan Brand Light', sans-serif;
  --font-700: 'Nissan Brand Bold', sans-serif;
  --main-font-size: 1rem;
  --color-black: #000;
  --color-grey: #919191;
  --color-blue: #3898ec;
  --color-nissan: #c3002f;
  --color-i-blac: #000;
  --color-background: #0abab5;
  --font-size-h1: 2.5;
  --font-size-h2: 2.05;
  --font-size-h3: 1.6;
  --font-size-h4: 1.23;
  --font-size-h5: 0.95;
  --font-size-h6: 0.7;
  --screen-size: 1200px;
  --color-arrow: orange;
}
