meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(
  rel='stylesheet',
  href='https://www-europe.nissan-cdn.net/content/dam/Nissan/header-footer/ru-RU/css/PACE-header-footer-v3.min.css?v=116 .css'
)
title frontend-developer-nissan
