doctype html
html(lang='en')
  head 
    include ./head
  body
    #nissan_global_header.helios
    header.hero
      include ./modules/hero/index

    main 
      section.slider
        include ./modules/slider/index

      section.card
        include ./modules/card/index

  footer
    include ./footer
    script(src='https://releases.jquery.com/git/jquery-git.slim.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js') 
    script(
      src='https://www-europe.nissan-cdn.net/content/dam/Nissan/header-footer/ru-RU/js/PACE-header-footer-v3.min.js'
    ) 
